<ion-view view-title="Profile">


  <ion-content>


<div class="row">
<div class="col user-profile" style="width:100%;heigh:auto;background-color:#fff;float:left;width:50%;">

    <img src="../img/user.jpg" alt="user" class="image11">

    <div class="avatar">
      <ul>

        <li>

          <p class="text-white text-center" style="margin-top:-15%;margin-bottom:10%;display:block;">Richard </p>

        </li>
      </ul>



    </div>

  </div>

  <div class="col">
    <h4 style="padding-left:2em">Richiee07</h4> <br>
    <h5 style="padding-left:2em"> 6 posts <br>10 followers </h5>
  </div>
  <div class="col">
    <button style="margin-top:10px;background-color:white;color:gray;border-radius:5px;" name="Edit Profile">Edit Profile </button>
  </div>
</div>

  <ul class="profile" style="margin-left:5%;">

    <li class="profile">

      <a href="#"><img src="../img/home.jpg"></a>

    </li>

    <li class="profile" style="list-style-type: none;">

      <a href="#"><img src="../img/home1.jpg"></a>

    </li>

    <li class="profile" style="list-style-type: none;">

      <a href="#"><img src="../img/home.jpg"></a>

    </li>
<!-- <br><br>
    <li class="profile" style="list-style-type: none;">

      <a href="#"><img src="../img/home3.jpg"></a>

    </li>

    <li class="profile" style="list-style-type: none;">

      <a href="#"><img src="../img/home4.jpg"></a>

    </li>

    <li class="profile" style="list-style-type: none;">

      <a href="#"><img src="../img/home1.jpg"></a>

    </li> -->

  </ul>


</ion-content>
</ion-view>
