<ion-view >
    <ion-header-bar align-title="center" >

    <h1 class="title">Richard</h1>

    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col user-profile" style="width:100%;heigh:auto;background-color:#fff;float:left;width:50%;">
                <img class="profileImage" ng-src="{{ userData.profileImageSmall }}">
            </div>
            <div class="col">
                <div class="row" style="text-align: center;">
                    <div class="col">{{ userData.postCount }}<br>posts</div>
                    <div class="col">{{ userData.followers }}<br> follwers</div>
                    <div class="col">{{ userData.following }}<br> following</div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="button button-full button-small button-calm">
                            Edit profile
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="imageHolder">
            <div class="imageFrameThree" ng-repeat="p in posts">
                <img ng-src="{{ p.imageThumbnail }}" ng-click="browseDetail(p.id)">
            </div>

            <!-- placeholders -->
            <div class="imageFrameThree">
                <img src="img/home2.jpg">
            </div>
            <div class="imageFrameThree">
                <img src="img/home3.jpg">
            </div>
            <div class="imageFrameThree">
                <img src="img/home4.jpg">
            </div>
            <div class="imageFrameThree">
                <img src="img/home1.jpg">
            </div>
        </div>

    </ion-content>
</ion-view>
