<ion-view view-title="Profile">


  <ion-content>


<div class="row">
<div class="col user-profile" style="width:100%;heigh:auto;background-color:#fff;float:left;width:50%;">

    <img src="../img/user.jpg" alt="user" class="image11">

    <div class="avatar">
      <ul>

        <li>

          <p class="text-white text-center" style="margin-top:-15%;margin-bottom:10%;display:block;">Richard </p>

        </li>
      </ul>



    </div>

  </div>
  <div class="col">
    <h2>Richiee07</h2>
  </div>
</div>
  <ul class="profile" style="margin-left:5%;">

    <li class="profile">

      <a href="#"><img src="../img/home.jpg"></a>

    </li>

    <li class="profile" style="list-style-type: none;">

      <a href="#"><img src="../img/home.jpg"></a>

    </li>

    <li class="profile" style="list-style-type: none;">

      <a href="#"><img src="../img/home.jpg"></a>

    </li>

    <li class="profile" style="list-style-type: none;">

      <a href="#"><img src="../img/home.jpg"></a>

    </li>

    <li class="profile" style="list-style-type: none;">

      <a href="#"><img src="../img/home.jpg"></a>

    </li>

    <li class="profile" style="list-style-type: none;">

      <a href="#"><img src="../img/home.jpg"></a>

    </li>

  </ul>


</ion-content>
</ion-view>
